:root {
  --gap-size: 15px;
  --green: #388e3c;
  --green-hover: #307a34;
  --light-green: #43a047; /* mostly for the page background */
  --dark-green: #1b5e20;
  --orange: #ffab00;
  --orange-hover: #e49801;
  --radius: 2px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--light-green);
  color: white;
  margin: 0;
  font: 16px Arial, Helvetica, sans-serif;
}

/* ---
FUNCTIONAL CSS
--- */

.container {
  max-width: 1920px;
  margin: auto;
  padding-left: var(--gap-size);
  padding-right: var(--gap-size);
}

.m-l {
  margin-left: var(--gap-size);
}
.m-t {
  margin-top: var(--gap-size);
}
.m-t-2 {
  margin-top: calc(var(--gap-size) * 2);
}

.txt-center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-size);
}

.row-v-bottom {
  align-items: flex-end;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-size);
}

.gap-0 {
  gap: 0;
}

.gap-txt {
  gap: 0.5em;
}

/* ---
TITLES
--- */

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: bold;
}

h2 {
  position: relative;
  margin: var(--gap-size) 0;
  height: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
}
h2::before {
  content: '';
  height: 1px;
  border-bottom: 1px solid var(--dark-green);
  position: absolute;
  left: 0;
  top: 8px;
  width: 100%;
}
h2 span {
  position: absolute;
  left: 50%;
  top: 0%;
  background: var(--light-green);
  padding: 0 var(--gap-size);
  transform: translateX(-50%);
  white-space: nowrap;
}

/* ---
BUTTONS
--- */

button {
  background: var(--green);
  border: 1px solid var(--dark-green);
  padding: 0 var(--gap-size);
  color: #fff;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: normal;
  cursor: pointer;
  border-radius: var(--radius);
  display: block;
  margin: 0;
}

button:disabled,
button[disabled] {
  opacity: 0.7;
  color: rgba(255, 255, 255, 0.5);
  cursor: auto;
}

button:hover:enabled {
  background: var(--green-hover);
}

button.large {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.5rem;
}

/* ---
HEADER
--- */

header {
  position: fixed;
  background: var(--dark-green);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid var(--green);
  padding: var(--gap-size) 0;
}

header .container {
  display: flex;
  align-items: center;
}

header h1 {
  flex: 1;
}

/* ---
MAIN
--- */

main {
  /*
  gap-size (header padding top)
  + gap-size (header padding bottom)
  + 1.3rem (header h1 line-height)
  + gap-size (space between the header and the main content)
  */
  padding-top: calc((var(--gap-size) * 3.5) + 1.3rem);
  padding-bottom: var(--gap-size);
}